.carousel {
  position: relative;
  box-sizing: border-box;
  width: 535px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.carousel img {
  width: 50px;
  height: 51px;
  display: block;
}

.arrow {
  position: absolute;
  width: 16px;
  height: 29px;
  background-position: -1px -1px;
  top: 19px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  transition: filter .1s linear;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  filter: contrast(50%);
  cursor: pointer;
}

.prev {
  background-position: -19px -1px;
  left: 15px;
}

.next {
  right: 15px;
}

.gallery {
  width: 450px;
  overflow: hidden;
}

.gallery .gallery__list {
  height: 60px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery .gallery__item {
  display: inline-block;
  padding: 6px 3px;
}

.galary__picture{
  width: 50px;
  height: 51px;
  background-position: -99px -1px;
  position: relative;
}

.galary__avatar{
  width: 28px;
  height: 38px;
  background-position: -37px -1px;
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.galary__picture_add::after{
  content: '';
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  width: 23px;
  height: 22px;
  background-position: -151px -1px;
  transform: translate(3px,-3px);
}